<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/styles/bootstrap.css">
    <script defer src="./public/scripts/jquery-3.6.0.js"></script>
    <script defer src="./public/scripts/bootstrap.js"></script>
    <script defer src="./public/scripts/controller.js"></script>
    <title>Garagem Home</title>
</head>
<body>
    <h2 class="text-center">Home Garagem Teste 1</h2>
</body>
</html>